{% extends "elements/ebooks/base.html.twig" %}

{% block body %}
    <div class="overlay">
        <div class="container">
            <h1 class="title">{{ ebook.title }}</h1>
        </div>
    </div>
{% endblock %}