{% if app.request.attributes.get('_route') != 'app_login' %}
<div class="navbar-nav ml-auto">
    {% if not app.user %}
        <li class="nav-item">
            <a href="{{ path('app_login') }}" class="ml-4 btn btn-dark mt-1 btn-sm">Sign In</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a href="{{ path('app_logout') }}" class="ml-4 btn btn-dark mt-1 btn-sm">Logout</a>
        </li>
    {% endif %}
</div>
{% endif %}


