{% for recipe in recipes %}
    <div class="card bg-light">
        <div class="card-body">
            <h4 class="card-title">{{ recipe.title }}</h4>
        </div>
        <div class="card-body">
            <h5>Lista składników:</h5>
            <ul class="list-group list-group-flush">
                {% for recipeIngredient in recipe.recipeIngredients %}
                    <li class="list-group-item bg-light">
                        {{ recipeIngredient.ingredient.name }} - {{ recipeIngredient.weight }} g
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="card-body">
            <p>{{ recipe.instruction }}</p>
        </div>
    </div>
{% endfor %}
