<div class="card-header pt-0">
    <div>
        <small class="small text-muted">
            <span>{{ post.date|date("d.m.Y") }}</span>
            <span class="px-2">·</span>
            <a href="#" class="text-muted">Komentarze: {{ post.comments|length }}</a>
        </small>
        <p>{{ post.content|raw }}</p>
    </div>
    <div class="blog-media mb-4">
        <img src="{{ asset('post_images/' ~ post.image) }}" alt="" class="w-100">
        <a href="#" class="badge badge-primary">#Salupt</a>
    </div>
</div>
<div class="card-body border-top">
    {% include 'elements/blog/recipe.html.twig' with {'recipes' : post.recipes} %}
</div>

