<!DOCTYPE html>
<html>
    {% include 'elements/head.html.twig' %}
    <body>
        {% include 'elements/navbar.html.twig' %}
        {% include 'elements/header.html.twig' %}
        {% block body %}{% endblock %}
    </body>
</html>
